@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        width:50%;
        height:50%;
    }
</style>
<div class="text-center">
    <h1 class="display-4" style="margin-top: 80px;">Welcome to </h1>
</div>
<div class="text-center">
    <img src="~/StaticFiles/CM Logo.jpg"/>
</div>